@page
{
	size: A4
}

@page blank
{
	@bottom
	{
		content: normal;
	}
}

div.appendix
{
	page-break-after: always;
}

@page:first
{
	@bottom
	{
		content: normal
	}
}

@page
{
	@bottom
	{
		content: counter(page) " of " counter(pages);
	}
}

h1, h2, h3
{
	page-break-after: avoid;
}

h1
{
	counter-increment: h1;
	counter-reset: h2 h3;
	page-break-before: always;
}

h2
{
	counter-increment: h2;
	counter-reset: h3;
}

h3
{
	counter-increment: h3;
}


h1::before {
  content: counter(h1) " ";
}

h2::before {
  content: counter(h1) "." counter(h2) " ";
}

h3::before {
  content: counter(h1) "." counter(h2) "." counter(h3) " ";
}

h1.notoc::before, h2.notoc::before, h3.notoc::before {
  content: normal;
}

h1.notoc, h2.notoc, h3.notoc {
  counter-increment: none;
  counter-reset: none;
}

p
{
  text-align: justify;
  page-break-inside: avoid;
}

a
{
	color: black;
	text-decoration: none;
}

a.pageref { font-style: italic; content: "Page " target-counter(attr(href), page); }
a.figref { font-style: italic; content: "Figure " target-counter(attr(href), figure); }
a.tableref { font-style: italic; content: "Table " target-counter(attr(href), table); }
a.chapref { font-style: italic; }

div.figure {
  margin: 1em 0;
  counter-increment: figure;
  page-break-before: avoid;
  page-break-inside: avoid;
  text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

div.table {
  margin: 1em 0;
  counter-increment: table;
  page-break-before: avoid;
  page-break-inside: avoid;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

ol, ul, dl {
  page-break-before: avoid;
  page-break-inside: avoid;
}

th, td {
  padding-right: 0.5em;
}

a.reftoc {
  margin: 1em 0;
  counter-increment: reference;
}

pre {
  font-size: 0.7em;
  border-style: dotted;
}

div.figure .caption, div.table .caption {
  /*width: 37%;
  text-align: right;*/
  font-size: 0.9em;
  /*margin: 0 0 1.2em -40%;*/
}

div.figure .caption:before {
  content: "Figure " counter(figure) ": ";
  font-weight: bold;
}

div.table .caption:before {
  content: "Table " counter(table) ": ";
  font-weight: bold;
}

a.figtoc::before { content: "Figure " target-counter(attr(href), figure) " - "; }
a.tabletoc::before { content: "Table " target-counter(attr(href), table) " - "; }

a.toc_1::before
{
	content: target-counter(attr(href), h1) " ";
}

a.toc_2::before
{
	margin-left: 1em;
	content: target-counter(attr(href), h1) "." target-counter(attr(href), h2) " ";
}

a.toc_3::before
{
	margin-left: 2em;
	content: target-counter(attr(href), h1) "." target-counter(attr(href), h2) "." target-counter(attr(href), h3) " ";
}

a.toc_1:after, a.toc_2:after, a.toc_3:after, a.figtoc::after, a.tabletoc:after {
  content: leader('.') target-counter(attr(href), page);
}
